<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Organizations</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-filter"></span>
                    Filter
                  </button>
               </span>
      </div><!-- /input-group -->
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
         <a ui-sref="organizations.view({'orgId':'101'})"> PDX Project</a>
        </div>
        <div class="panel-body">
          <img src="images/bar-chart-1.png" class="img-responsive"/>
        </div>
        <div class="panel-footer">One of the most Active Projects</div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Quick Office Project
        </div>
        <div class="panel-body">
          <img src="images/bar-chart-2.png" class="img-responsive"/>
        </div>
        <div class="panel-footer">One of the most Active Projects</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          ECI Solution Project
        </div>
        <div class="panel-body">
          <img src="images/bar-chart-3.png" class="img-responsive"/>
        </div>
        <div class="panel-footer">One of the most Active Projects</div>
      </div>
    </div>
  </div>

</div>
</div>
