<style>
  .actions {
    float: right;
  }
</style>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        PDX Project
    <span class="actions">
        <a ui-sref="organizations.edit({'orgId':'101'})">Edit</a>
    </span>
      </div>
      <div class="panel-body">
        <img src="images/bar-chart-1.png" class="img-responsive"/>
      </div>
      <div class="panel-footer">One of the most Active Projects</div>
    </div>

  </div>
</div>

